*.DS_Store
*.pyc
*.swp
__pycache__

admin/
args/
atram_db/
build/
data/
db/
dist/
input/
old/
output/
query/
temp/
venv/

junk*

.cache
.coverage
.hypothesis
.pytest_cache

.idea
.mypy_cache/
.ropeproject/
.spyproject/
.vscode

.ipynb_checkpoints/
.~lock*
