*.DS_Store
*.pyc
*.swp
__pycache__

args/
venv/*
venv35/*
temp*/*
junk.*
input/
output/
query/
db/
atram_db/
perl/
log/
old/
admin/
build/
junk*
exon_stitching/
dist/
data/

.coverage
.cache
.hypothesis
.pytest_cache

.idea
.vscode
.ropeproject/
.spyproject/
.mypy_cache/

.ipynb_checkpoints/
.~lock*
