*.DS_Store
*.pyc
*.swp
__pycache__

venv/*
venv35/*
temp*
junk.*
input/
output/
query/
db/
perl/
log/
old/
admin/
data/
build/
junk*

.coverage
.cache
.hypothesis
.pytest_cache

.idea
.vscode
.ropeproject/
.spyproject/
.mypy_cache/
